body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eeeeee;
  width: auto;
  padding: 5px;
}

h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: medium;
}

.under-score {
  font-family: 'Pinyon Script', cursive;
  font-size: 30px;
  text-align: center;
  color: #7b1fa2;
  -webkit-text-stroke: #b2820b;
  -webkit-text-stroke-width: .15px;
}

.bigger {
  font-family: 'Pinyon Script', cursive;
  font-size: 60px;
  margin-bottom: 0;
  text-align: center;
  color: #7b1fa2;
  -webkit-text-stroke: #b2820b;
  -webkit-text-stroke-width: .15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  font-family: 'Pinyon Script', cursive;
}

.title {
  font-family: 'Pinyon Script', cursive;
  font-size: 34px;
  text-align: center;
  color: #7b1fa2;
  -webkit-text-stroke: #b2820b;
  -webkit-text-stroke-width: .15px;
}

.title-header {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: 300;
  text-align: center;
  color: black;
}

.title-sub {
  font-size: 15px;
}

#padme {
  margin-top: 20px;
}

.splash {
  height: 300px;
  width: auto;
  border-radius: 9px;
  border-style: solid;
  border-color: #b2820b;
}

img {
  border: #7b1fa2;
  border-radius: 7px;
  border-width: 3px;
  border-style: solid;
  margin: 16px;
}